# Python virtual environment
ds2_venv/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Zip files
*.zip

# Ignore environment variables
.env

# Ignore dataset
out_dataset/